.job-component {
  width: 53.33px;
  height: 45px;
  border: 2px solid #000000;
  float: left;
  border-radius: 7%;
}

.job-body {
  width: 170px;
  height: 95px; 
  border-radius: 7%;
}

.server-component {
  height :25px;
  text-align: center;
  width: 160px;
  border: 1px solid #a38182;
  border-radius: 7%;
}

.country-component {

  text-align: center;
  width: 160px;
  background-color: #fff000;
  border: 1px solid #000000;
  border-radius: 7%;
}

.dashboard {
  text-align: center;
}
